extends layout

block content
	section#banner
		h2 Internbox.
		a.button.big(href="/static/signup.html") Sign Up Now
	section#one.wrapper.style1.special
		.container
			header.major
				h2 What is Internbox?
			p
			| We do the work of finding you an internship each week.  You just have to sign up, and tell us what kind of internship you're looking for, and presto!  Our algorithms and staff are put to work finding you a short list of internships you can apply to.
	section#two.wrapper.style2.special
		.container
			header.major
				h2 Second section
				p Some text