doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
    script(src='/js/plugins.js')
    script(src='/js/main.js')
  body
    block content
    footer
        script(src='/js/analytics.js')