doctype strict
html(xmlns = 'http://www.w3.org/1999/xhtml')
	head
		meta(http-equiv = 'Content-Type', content = 'text/html; charset=UTF-8')
		meta(name = 'viewport', content = 'width=device-width, initial-scale=1')
		title New Internships!
		style
			include ../css/simple.css
	body
		table.body-wrap
			tr
				td.container
					table
						tr
							td.masthead(align="center")
								h1 Yo dawg, I found you some internships
						tr
							td.content
								table
									tr(align="center")
										td
											h4 Internship 1
											p Google, unpaid.
											h4 Internship 2
											p Apple, unpaid.
											h4 Internship 3
											p Uber, unpaid.
			tr
				td.container
					table
						tr
							td.container.footer(align="center")
								p Sent by someone